@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Digital';
    src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
        format('embedded-opentype'),
      url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
        format('woff2'),
      url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
        format('woff'),
      url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
        format('truetype'),
      url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
        format('svg');
  }

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    outline: none;
    font-family: 'Orbitron', sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-weight: 400;
    font-size: 1.1rem;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 5px 5px white;
}

.AppContainer {
    background-color: black;
    height: 100vh;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.pomodoroContainer {
    text-align: center;
    background-color: rgba(242, 242, 242, 0.166);
    border-radius: 100%;
    height: 500px;
    width: 500px;
    justify-content: center;
    box-shadow: 0 0 10px 2px white;
}

.pomodoro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.breakAndSession {
    justify-content: center;
    margin: 30px 0;
    display: flex;
    align-self: center;
}
.upDownContainer {
    justify-content: center;
    align-items: center;
}

#break-label {
    width: 200px;
    margin-left: 0;
}
#session-label {
    width: 200px;
}
#break-length {
    width: 50px;
    font-size: 1.5rem;
    font-family: digital;
}
#session-length {
    width: 50px;
    font-size: 1.5rem;
    font-family: digital;
}

.upDownContainer {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.session {
    background-color: black;
    color: white;
    border: 1px solid rgb(54, 54, 54);
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.breakSession {
    background-color: black;
    color: rgba(255, 0, 0, 0.658);
    border: 1px solid rgb(54, 54, 54);
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    align-items: center;
    margin: auto;
    justify-content: center;
}

#time-left {
    font-size: 2rem;
    font-family: digital;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 1.2rem;
}

#session-decrement, #break-decrement {
    background-image: url("https://img.icons8.com/glyph-neue/64/000000/circled-down.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    transition: .3s;
    border-radius: 100%;
}
#session-decrement:hover, #break-decrement:hover {
    background-color: white;
}
#session-increment, #break-increment {
    background-image: url("https://img.icons8.com/ios-glyphs/90/000000/circled-up.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    transition: .3s;
    border-radius: 100%;
}
#session-increment:hover, #break-increment:hover {
    background-color: white;
}
#reset {
    background-image: url("https://img.icons8.com/glyph-neue/64/000000/restart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    transition: .3s;
    border-radius: 100%;
}
#reset:hover {
    background-color: white;
}
#start_stop {
    background-image: url("https://img.icons8.com/glyph-neue/64/000000/play-button-circled.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    transition: .3s;
    border-radius: 100%;
    margin-right: 5px;
}
#start_stop:hover {
    background-color: white
}

button:active {
    box-shadow: 0 0 10px 7px rgba(77, 77, 77, 0.658);;
}

.alarm {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playAndStop {
    margin-top: 6px;
}

.by {
	position:relative;
	font-size: .7rem;
    text-align: center;
	cursor: pointer;
	text-decoration: none;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .by a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.607);
	transition: .3s;
  }
  
  .by a:hover {
	color: white;
  }

@media only screen and (max-width: 768px) {
    .pomodoroContainer {
        height: 350px;
        width: 350px;
    }
    #time-left {
        font-size: 1.5rem;
    }
    #title {
        font-size: 1.8rem;
    }
    #break-label, #session-label {
        width: 170px;
    }
    #break-label p, #session-label p {
        font-size: .9rem
    }

}

@media only screen and (max-width: 350px) {
    .pomodoroContainer {
        height: 280px;
        width: 280px;
    }

}